*{
    margin: 0;
    padding: 0;
    background-color: white;
    
}

.container{
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    height: 700px;
    
}

.imageholder {
    
    background-image: url('../../public/hero.jpg');
    height: 800px;
    position: relative;
    text-align: center;
   
  }

  a, li {
    background-color: gray;
    color: white;
  }
  
.image {
    height:600px;
    width: 100%;
    margin-top: 0%;
  }

  .but{
    margin-right: 5px;
  }

  @media all and (min-width:375px) {
    .container .but .image .imageholder{
      color: beige;
    }
  }