*{
    margin: 0px;
    padding: 0px;
    background-color: white;
    
}
.navbar.navbar-expand-lg{
  background-color: none;
}

.container{
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px;
    height: 700px;
    
}

.imageholder {
    
    background-image: url('../../public/hero.jpg');
    height: 800px;
    position: relative;
    text-align: center;
    width: 100%;
   
  }

  a, li {
    background-color: gray;
    color: white;
  }
  
.image {
    height:600px;
    width: 100%;
    margin-top: 0%;
  }

  .but{
    margin-right: 5px;
  }

  @media screen and (max-width:600px) {
    nav {
      width: 100%;
    }
  }