
body{
    width: 100%;

   
}
.cardholder{
    display: flex inline;
    margin:0px;
    margin-right: 0;
    align-items: justify ;
    width: 100%;
    background-color: white;

}
.card{
    align-items: center;
    padding-left: 20px;
    padding-right: 30px;
    width: 100%;
}
.containercard{
    border: none;
    background-color: white;
    padding: 50px ;
    border-radius: 10px;
    border: none;
}
.fh{
    width: 100%;
}
.feature{
    display: inline-flex;
    flex-wrap:wrap;
    padding: 10px;
    background-color: cyan;
}

.fimage1 {
    width: 500px;
    height: 600px;
}
.heading{
align-content: center;
    
}
.right{
    margin-left: 60px;
    background-color: cyan;
}
.right1{
    margin-right: 0px;
    width: 50%;
}
.left1{
    width: 40%;
    margin-right: 0px;
    margin-left: 0px;
    background-color: cyan;
   
}
.Pcardholder{
    display: flex;
    margin: 60px;
    align-content: center;
    column-gap: 80px;
    margin-bottom: 50px;
}


.Pcardholder{
    padding-bottom: 50px;
}
        
.rimage{
    height: 80px;
    width: 80px;
    border-radius: 20px;
    padding-bottom: 20px;
}
.reviewcontainer{
    background-color:pink;
    height: 1200px;
}
.container-fluid {
    background-color: gray;
}


.contact{
    display: flex;
    width: 100%;
    height: 700px;
    background-color:cyan;
    
    
    
}
.containerForm{
    
    box-shadow: 200px;
    width: 500px;
    padding: 10px;
    background-color:cyan;
}

.containerc{
    margin-left: 100px;
    background-color: cyan;
    
    height: 600px;
}
.containerc span,  h3 {
    background-color: cyan;
    
    font-size: 20px;
}
.containerc h3{
    margin-bottom: 0;
}

.feature li  {
    color: black;
}
.formcont{
    margin: 50px;
    width: 700px;
    padding: 40px;
    height: 600px;
}
.footer {
    background-color: rgb(73, 73, 202);
    width: 100%;
    height: 300px;
    
}
.social{
    position: relative;
    top:30%;
    left: 40%;
    background-color:  rgb(73, 73, 202);
}

.copyri{
    position: relative;
    top:40%;
    left: 35%;
    background-color:  rgb(73, 73, 202);
}
.navbar.navbar-expand-lg{
    width: 100%;
}

@media only screen and (width < 560px) {
   header, footer {
      width: 100%;
      height: 400px; /* The width is 100%, when the viewport is 800px or smaller */
    }
    .cardholder{
        display: flex;
        flex-wrap: wrap;
       
    
    }
    .feature{
        display: flexbox;
        flex-wrap:wrap;
       
    }
    
    .fimage1 {
        width: 300px;
        height: auto;
    }
    .right{
        
        background-color: cyan;
    }
    .right1{
        margin-right: 0px;
    }
    .left1{
        margin-right: 0px;
        margin-left: 0px;
        background-color: cyan;
       
    }
    .Pcardholder{
        display: flex;
        flex-wrap: wrap;       
        
    }
    .rimage{
        height: 80px;
        width: 80px;
       
    }
    .reviewcontainer{
        display: flex;
        flex-wrap: wrap;
        background-color:pink;
        width: 100%;
        height: auto;
    }
    .container-fluid {
        background-color: gray;
    }
    
    
    .contact{
        display: flex;
       flex-wrap: wrap;
        
        
        
    }
    .containerForm{
        
        width: 100%;
        display: flex;
    }
    
    .containerc{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .containerc span,  h3 {
        background-color: cyan;
        
        font-size: 20px;
    }
    .containerc h3{
        margin-bottom: 0;
    }
    
    .feature li  {
        color: black;
    }
    .formcont{
       width: 100%;
    }
    .footer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
    }
    .social{
        position: relative;
        top:30%;
        left: 40%;
        background-color:  rgb(73, 73, 202);
    }
    
    .copyri{
        position: relative;
        top:40%;
        left: 35%;
        background-color:  rgb(73, 73, 202);
    }
    
    
  }